.tile {
    border: 0;
}

.brown-group {
    color: #faebd7;
    background: #7D5916;
}

.light-blue-group {
    color: #faebd7;
    background-color: #7CB3C2;
}

.magenta-group {
    color: #faebd7;
    background: #BE7CC2;
}

.orange-group {
    color: #faebd7;
    background-color: #FF9D00; 
}

.red-group {
    color: #faebd7;
    background-color: #DE4040;
}

.yellow-group {
    color: #faebd7;
    background-color: #E3C230;
}

.green-group {
    color: #faebd7;
    background-color: #649168;
}

.blue-group {
    color: #faebd7;
    background-color: #3471AE;
}

.dog {
    background-color: #f4a460;
}

.hat {
    background-color: #00ff00;
}

.battleship {
    background-color: #ffa500;
}

.thimble {
    background-color: #696969;
}

.wheelbarrow {
    background-color: #FF69B4;
}

.shoe {
    background-color: #551A8B;
}

.iron {
    background-color: #000000;
}

.racecar {
    background-color: #999900;
}

.player-property {
    font-size: .75em;
    width: 6em;
    height: 6em;
    margin: .5em;
    float: left;
}