html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "museo-sans-1","museo-sans-2", "Humanst521 BT", sans-serif;
}

/*body {
    background-image: url("http://images1.fanpop.com/images/image_uploads/Monopoly-Wallpaper-board-games-1087813_1024_768.jpg");
}*/

.game-table {
    margin: 0 auto;
    width: 60em;
    height: 60em;
}

.game-setup {
    background-color: #7ab8b3;
    border:.15em solid #7F9795;
    padding: 2em;
    min-height: 8em;
}

.modal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    z-index: 1;
    transform:translate(-50%, -50%);
}

.init-modal > .gamecode {
    text-transform: uppercase;
    margin: 2em;
    color: #455453;
    font-weight: bold;
}

.init-modal > .waiting {
    text-transform: uppercase;
    margin: 2em;
    color: #455453;
    font-weight: bold;
}

.init-input {
    background: #B6D8D5;
    width: 90%;
    padding: 10px;
    line-height: 1;
    border-radius: 0.75em;
    border: .15em solid #7F9795;
    text-align: center;
    font-size: 1.5em;
    color: gray;
}

input::-webkit-input-placeholder {
    color: rgba(1,1,1,.35);
}
input::-moz-placeholder {
    color: rgba(1,1,1,.35);
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: rgba(1,1,1,.35);
}
input:-ms-input-placeholder { 
    color: rgba(1,1,1,.35);
}

.init-modal > .button {
    display: block;
}

.init-modal > div {
    margin: 0.5em;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.console {
    position: absolute;
    top: 9%;
    left: 9%;
    width: 82%;
    height: 82%;
}
.tile-list {
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #B6D8D5;
    position: relative;
}

.tile {
    box-sizing: border-box;
    /*border: .05em #ddd solid;*/
    display: block;
    overflow: hidden;
    background-color: #B6D8D5;
    position: relative;
    border: .1em solid #AAC4C1;
    margin: 0;
}

.left, .right > .tile {
    width: 100%;
    height: 10%;
}

.top, .bottom > .tile {
    width: 10%;
    height: 100%;
}

.container {
    display: flex;
    box-sizing: border-box;
}

.left.container {
    width: 9%;
    height: 91%;
    left: 0;
    bottom: 0;
    position: absolute;
    flex-direction: column-reverse;
}

.top.container {
    width: 91%;
    height: 9%;
    left: 0;
    top: 0;
    position: absolute;
    flex-direction: row;
}

.right.container {
    width: 9%;
    height: 91%;
    top: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
}

.bottom.container {
    width: 91%;
    height: 9%;
    bottom: 0;
    right: 0;
    position: absolute;
    flex-direction: row-reverse;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tile:hover > .overlay {
    box-sizing: border-box;
    position:absolute;
    background-color:#000;
    opacity:0.3;
}

.token {
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    background: red;
}

.tile-name {
    font-size: 75%;
    text-align: center;
}

.messenger {
    position: relative;
    box-sizing: border-box;
    border: .5em solid #7F9795;
    border-right: none;
    text-align: center;
    width: 50%;
    height: 45%;
    overflow: auto;
}

.dice {
    box-sizing: border-box;
    border: .5em solid #7F9795;
    border-right: none;
    border-top: none;
    text-align: center;
    width: 50%;
}

.game-messages {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.player-box {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 0%;
    width: 50%;
    height: 100%;
    border: .5em solid #7F9795;
    text-align: center;
}

.player-info {
    background-color: #8bc1bc;
    box-sizing: border-box;
    border: .2em solid #7F9795;
    min-height: 7em;
    margin: .75em;
    padding: .25em;
}

.controls {
    box-sizing: border-box;
    border: .5em solid #7F9795;
    border-right: none;
    border-top: none;
    text-align: center;
    width: 50%;
}

.button {
    background-color:#44c767;
    border-radius:1em;
    border:.15em solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:.75em 1.5em;
    margin: 0 auto;
}

.button:hover {
    background-color:#18ab29;
}

.button:active {
}

.button.hidden {
    display: none;
}

.hidden {
    display: none;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    border:.15em solid #7F9795;
    width: 20%;
    z-index: 1;
    height: 14%;
    transform:translate(-50%, -50%);
}