.brown-group {
    color: #faebd7;
    background: #7D5916;
}

.light-blue-group {
    color: #faebd7;
    background-color: #7CB3C2;
}

.magenta-group {
    color: #faebd7;
    background: #BE7CC2;
}

.orange-group {
    color: #faebd7;
    background-color: #FF9D00; 
}

.red-group {
    color: #faebd7;
    background-color: #DE4040;
}

.yellow-group {
    color: #faebd7;
    background-color: #E3C230;
}

.green-group {
    color: #faebd7;
    background-color: #649168;
}

.blue-group {
    color: #faebd7;
    background-color: #3471AE;
}