body {
    background-color: #FFCC00;
}

h1 {
    color: black;
    margin-left: 200px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20vw;
    text-align: center;
}

form {
    text-align: center;
    font-size: 5vw;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

select {
	   background: #FFE064;
	   width: 5%;
	   padding: 20px;
	   font-size: 4vw;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 15%;
	   text-align: center;
}

input {
	   background: #FFE064;
	   width: 15%;
	   padding: 10px;
	   font-size: 3vw;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 15%;
	   text-align: center;
	   border-radius: 20px;
}

canvas {
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
}